@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*  Formatação padrões dos elementos da página  */

*
{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-text-1);

    overflow: hidden;
    box-sizing: border-box;

    outline: none;
    letter-spacing: 0.06em; /* Para dar espaçamento entre as letras */

    border-width: none;
    border-style: none;
    border-color: none;
    border-image: none;
}

:root
{

    --cor-bg-1: #FFFFFF;
    --cor-bg-2: #52575C;
    --cor-bg-3: #171717;
    --cor-bg-4: #393939;
    --cor-bg-5: #B20BDC;
    --cor-bg-6: #9A9FA8;
    --cor-bg-7: rgba(57, 57, 57, 0.94);



    --cor-border-1: #B20BDC;

    --cor-box-shadow-1: rgba(0, 0, 0, 0.4);

    --cor-txt-1: #FFFFFF;
    --cor-txt-2: #B20BDC;
    --cor-txt-3: #00BFA6;
    --cor-txt-4: #9A9FA8;

}

/*


    =======================================================================================
    =======================================================================================
*/

body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    /* border: 1px solid red; */

    width: 100vw;
    min-width: 375px;
    max-width: 1440px;
    height: 100vh;

    background-color: var(--cor-bg-1);
}

header, main, footer
{
    /* Os elementos recebe aqui o espaçamento do contêiner, assim pode trabalha de acordo a necessidade do projeto */
    /* border: 1px solid blue; */

    margin: 0 12vw 2vh 12vw;

}

/* Padrões de btns */
.btn
{
    /* border: 1px solid blue; */

    /* width: 100%; */
    height: 36px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;


    padding: 0 18px;
    /* margin: 0 10px; */

    background: none;

    border-radius: 8px;

    cursor: pointer;
    transition: 0.8s;
}

.name_btn
{
    font-weight: 900;
    font-size: 1em;

    z-index: 1;
}

.btn::before
{
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;

    background: linear-gradient(180deg, var(--cor-bg-5) 11.46%, var(--cor-bg-3) 100%);

    transition: 0.8s;
}

/* Btn primary */



/* Btn secondary */

.btn_secondary
{
   border: 2px solid var(--cor-border-1);

   color: var(--cor-txt-2);
}

.btn_secondary:hover
{
    border: hidden;

    color: var(--cor-txt-1);

    transition: all .10s ease-in-out;
}

.btn_secondary::before
{
    height: 0%;

    bottom: 0;

    border-radius: 50% 50% 0 0;
}

.btn_secondary:hover::before
{
    height: 180%;
}

/* Formatação do modal */

.modal
{
    width: 0vw;
    height: 0vh;

    position: absolute;
    top: 0;
    left: 0;

    background: var(--cor-bg-7);

    z-index: 10;

    transform: translateX(calc(9% + 100px));
    transition: all 0.9s cubic-bezier(0.68,-0.55,0.265,2.50) ;
}

.modal.active
{
    width: 100vw;
    height: 100vh;

    transform: translateX(0%);
}



/* Formatação de aviso de validação de campos */

.error-validation
{
    /* border: 1px solid red; */

    width: 95%;

    position: absolute;
    top: 55px;
    left: 10px;

    font-size: .8em;
    font-weight: 500;

    color: var( --cor-txt-2);

    overflow: auto;
}

.template
{
  display: none;
}


/* Responsividade da página */

@media screen and (min-width: 1441px)
{
    body
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
